.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: auto;
}

body{
}

.generalborder{
	padding-left: 5%;
	padding-right: 5%;
}

.trennlinie{
	margin-top: 1%;
	margin-bottom: 0.5%;
	height: 2px;

}

.navigation{
	color: "black";
}

li {
	padding:  10px 30px;
}

.headline{
	padding-right: 30px;
	text-align: right;
	margin-right: 80%;
	font-weight: lighter;
	border-radius: 0px 40px 40px 0px ;
}

.carouselCustom{
	border-radius: 80px;

}

.carouselText{
	border-radius: 0px 40px 40px 0px ;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.carousel-caption{

}

#block-under-image {
    height: 9em;
}

#myCarousel{
	height:  80%;
	width: 80%;
	overflow:  hidden;
}

.row {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.commissions{
	background-color: "black";
	color: "black";
}

.kontakt{
	padding-left: 20%;
	padding-right: 20%;
}

.rowkontakt{
  display: flex;
}

.columnkontakt{
  flex: 33.33%;
}