.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: auto;
}

body{
}

@font-face{
  font-family: montbold;
  src: url(resources/font/Montserrat-Bold.ttf) format("truetype");
}

@font-face{
  font-family: montregular;
  src: url(resources/font/Montserrat-Regular.ttf) format("truetype");
}

@font-face{
  font-family: montthin;
  src: url(resources/font/Montserrat-Thin.ttf) format("truetype");
}

@font-face{
  font-family: montblack;
  src: url(resources/font/Montserrat-Black.ttf) format("truetype");
}

h5{
	font-family: montbold;
}

h1{
	font-family: montblack;
}

h2{
	font-family: fontbold;
}
span{
	font-family: montregular;
}

a{
	font-family: montbold;
}

p{
	font-family: montthin;
}



.generalborder{
	padding-left: 5%;
	padding-right: 5%;
}

.trennlinie{
	margin-top: 1%;
	margin-bottom: 0.5%;
	height: 2px;

}

.navigation{
	color: "black";
}

li {
	padding:  10px 30px;
}

.headline{
	padding-right: 30px;
	text-align: right;
	margin-right: 80%;
	font-weight: lighter;
	border-radius: 0px 40px 40px 0px ;
}

.carouselCustom{
	border-radius: 80px;
	height: 450px;
	width: auto;
}

.carouselText{
	border-radius: 0px 40px 40px 0px ;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.carousel-caption{

}

#block-under-image {
    height: 9em;
}

#myCarousel{
	height:  80%;
	width: 80%;
	overflow:  hidden;
}

.row {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

.column {
}

.commissions{
	background-color: "black";
	color: "black";
}

.kontakt{
	padding-left: 20%;
	padding-right: 20%;
}

.rowkontakt{
  display: flex;
}

.columnkontakt{
  flex: 33.33%;
}

.columnLeft{
  flex: 33.33%;
  padding: 5px;
  height: 100%;
}

.columnMiddle{
  flex: 33.33%;
  padding: 5px;
  height: 100%;
	
}
.columnRight{
  flex: 33.33%;
  padding: 5px;
  height: 100%;
	
}

.columnMiddle2{
  flex: 33.33%;
  padding: 5px;
  height: 100%;
  margin-top: -16.25%;
	
}

.columnMiddle3{
  flex: 33.33%;
  padding: 5px;
  height: 100%;
  margin-top: -19.25%;
	
}
.columnLeft2{
  flex: 33.33%;
  padding: 5px;
  height: 100%;
  margin-top: -12%;
}

.columnRight2{
  flex: 33.33%;
  padding: 5px;
  height: 100%;
	margin-top: -9.45%;
}

#col1{
	border-radius: 80px 0px 0px 0px;
}

#col3{
 border-radius: 0px 80px 0px 0px;
}

#logolink{
	padding-top: 1%;
	width: 100%;
}

#iconwhite{
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
          filter: invert(100%);
}

#insivible{
	visibility: hidden;
}

#kontakttext{
	font-family: fontbold;
	font-size: 26pt;
}

#hamburger{
	display: none;
}

.bordercom{
	margin-left: 30%;
	margin-right: 30%;
}


@media only screen and (max-width: 800px){
	.navigation{
		display:none;
	}
.carouselCustom{
	border-radius: 10px;
	height: 180px;
	width: auto;
}


.carouselText{
	border-radius: 0px 40px 40px 0px ;
}

.carousel-control-next{
	filter: invert(100%);
	margin-right: -15px;
}
.carousel-control-prev /*, .carousel-indicators */ {
   filter: invert(100%);
   margin-left: -15px;
}

.carousel-caption{

}

#myCarousel{
	height:  95%;
	width: 95%;
	overflow:  hidden;
}

.columnLeft{
  flex: 50%;
  padding: 5px;
  height: 100%;
}

.columnMiddle{
  flex: 50%;
  padding: 5px;
  height: 100%;
	
}
.columnRight{
  flex: 50%;
  padding: 5px;
  height: 100%;
	
}

.columnMiddle2{
  flex: 50%;
  padding: 5px;
  height: 100%;
  margin-top: 0.5%;
	
}

.columnMiddle3{
  flex: 50%;
  padding: 5px;
  height: 100%;
  margin-top: -15%;
	
}
.columnLeft2{
  flex: 50%;
  padding: 5px;
  height: 100%;
  margin-top: 0.5%;
}

.columnRight2{
  flex: 50%;
  padding: 5px;
  height: 100%;
  margin-top: -33%;
}

#col1{
	border-radius: 40px 0px 0px 0px;
}

#col2{
 border-radius: 0px 40px 0px 0px;
}

#col2_1{
	margin-top: -23.5%;
}

#col3{
 border-radius: 0px 0px 0px 0px;
}
#col7{
 border-radius: 0px 0px 0px 40px;
}

#col8{
 border-radius: 0px 0px 40px 0px;
}

#logolink{
	padding-top: 5%;
}

#logo{
	width: auto;
	height: 100px;
}

#hamburger{
	display: block;
	float:left;
}

.bordercom{
	margin-left: 15%;
	margin-right: 15%;
}
.rowkontakt{
  display: block;
}


.columnkontakt{
  display: inline-block;
}

iframe{
	display: none;
}

}
